<%- include('../partials/header', {title: 'Movies', currentUser: currentUser}) %>
<h1>Register</h1>
<div class="form-container">
    <% if (errors && errors.length > 0) { %>
        <ul class="errors">
            <% errors.forEach(e => { %>
                <li><%= e %></li>
            <% }) %>
        </ul>
    <% } %>

    <form action="/register" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required value="<%= old && old.username ? old.username : '' %>">
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>

        <div>
            <label for="type">User Type: </label>
            <select id="type" name="type" required>
                <option value="viewer" <%= old && (old.type === 'viewer' || old.userType === 'viewer') ? 'selected' : '' %>>Viewer</option>
                <option value="admin" <%= old && (old.type === 'admin' || old.userType === 'admin') ? 'selected' : '' %>>Admin</option>
            </select>
        </div>
            <button type="submit" class="submit-btn">Register</button>
    </form>
</div>
<%- include('../partials/footer') %>