<%- include('../partials/header', { title: 'Register' }) %>

<main>
	<h2>Register</h2>

	<% if (errors && errors.length) { %>
		<ul style="color: red;">
			<% errors.forEach(function(err){ %>
				<li><%= err %></li>
			<% }) %>
		</ul>
	<% } %>

	<form action="/register" method="post">
		<div>
			<label for="name">Name</label>
			<input id="name" name="name" value="<%= old && old.name ? old.name : '' %>" />
		</div>
		<div>
			<label for="email">Email</label>
			<input id="email" name="email" value="<%= old && old.email ? old.email : '' %>" />
		</div>
		<div>
			<label for="username">Username</label>
			<input id="username" name="username" value="<%= old && old.username ? old.username : '' %>" />
		</div>
		<div>
			<label for="password">Password</label>
			<input id="password" type="password" name="password" />
		</div>
		<button type="submit">Register</button>
	</form>

	<p>Already have an account? <a href="/login">Login</a></p>
</main>

<%- include('../partials/footer') %>
