<%- include('../partials/header', {title: 'Movies', currentUser: currentUser}) %>
<div class="table-container">
        <table>
            <thead>
                <tr>
                    <th> Movie name </th>
                    <th>Movie Rating</th>
                    <th>Year Released</th>
                </tr>
            </thead>
            <tbody>
                <% movies.forEach(movie=> { %>
                        <tr class="table-row">
                            <td class="movie-list-title"><a href="/movies/<%=movie.id %>"><%= movie.title %></a></td>
                            <td><%= movie.rating %></td>
                            <td><%= movie.year %></td>
                            <% if (currentUser && currentUser.type === 'admin') { %>
                            <td>
                                <form action="/movies/edit/<%=movie.id %>" method="get">
                                    <button type="submit" class="update-btn">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form action="/movies/delete/<%=movie.id %>" method="post"
                                    onsubmit="return confirm('are you sure you want to delete this doc?')">
                                    <button type="submit" class="delete-btn">Delete</button>
                                </form> 
                            </td>
                            <% } %>
                        </tr>
                    <% }) %>
             
            </tbody>
        </table>
        <% if (currentUser && currentUser.type === 'admin') { %>
        <button onclick="location.href='/movies/add'" class="add-movie-btn">Add Movie</button>
        <% } %>
</div>
<%- include('../partials/footer') %>